<a href="https://colab.research.google.com/github/SIDIBEMoussa/Texte_mining-and-web-mining/blob/main/Exercice_Texte_mining.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [56]:
BE=[["le maroc est qualifié","sport"],
    ["le brésil est qualifié","sport"],
    ["le PIB est en baisse","eco"],
    ["la bourse a fermé sur une baisse","eco"]]
N="le portugal est qualifié"

In [57]:
#création du VA
VA=[]
for i in range(len(BE)):
    for j in range(len(BE[i][0].split())):
        if not BE[i][0].split()[j] in VA:
            VA.append(BE[i][0].split()[j])

In [58]:
VA

['le',
 'maroc',
 'est',
 'qualifié',
 'brésil',
 'PIB',
 'en',
 'baisse',
 'la',
 'bourse',
 'a',
 'fermé',
 'sur',
 'une']

In [59]:
#convertir texte en vect num
def txt2num(t,VA):
    VN=[]
    T=t.split()
    for j in range(len(VA)):
        cmpt=0
        for i in range(len(T)):
            if T[i]==VA[j]:
                cmpt=cmpt+1
        VN.append(cmpt)    
    return VN

In [60]:
#Convertir la base et le nouveau en numérique
BNum=[]
for i in range(len(BE)):
    BNum.append([txt2num(BE[i][0],VA),BE[i][1]])

In [61]:
BNum

[[[1, 1, 1, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0], 'sport'],
 [[1, 0, 1, 1, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0], 'sport'],
 [[1, 0, 1, 0, 0, 1, 1, 1, 0, 0, 0, 0, 0, 0], 'eco'],
 [[0, 0, 0, 0, 0, 0, 0, 1, 1, 1, 1, 1, 1, 1], 'eco']]

In [62]:
TNum=txt2num(N,VA)
TNum

[1, 0, 1, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0]

In [63]:
#définir la distance
from math import sqrt

def euclidienne(X,Y):
    d=0
    for i in range(len(X)):
        d=d+(X[i]-Y[i])**2        
    return sqrt(d)

In [64]:
!pip install simple_colors

Requirement already satisfied: simple_colors in /usr/local/lib/python3.7/dist-packages (0.1.5)

In [65]:
#calculer les distances entre le nouveau et la base:
import pandas as pd
from simple_colors import *
def distanceBass(BNum,TNum):
  Label=[]
  distanc=[]
  for tab in BNum:
    distanc.append(euclidienne(tab[0],TNum))
    Label.append(tab[1])
  df=pd.DataFrame({"Distance":distanc,"Label":Label})

  indice_distance_min=list(df["Distance"]).index(min(df.Distance))
  class_tnum=df["Label"][indice_distance_min]
  print(green("La classe du nouveau texte est le :{}".format(class_tnum),"bold"))
  return df

In [66]:
df=distanceBass(BNum,TNum)
df

La classe du nouveau texte est le :sport

   Distance  Label
0  1.000000  sport
1  1.000000  sport
2  2.000000    eco
3  3.162278    eco